body{
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}
body .topfix{
  margin-top: 130px;
}

@media (max-width: 479px) {
  #s{
    position: absolute;
    margin-top: 0px;
    margin-left: -190px;
    width:110px;
  }
  #searchsubmit{
    position: absolute;
    margin-top: 3px;
    margin-left: -75px;
  }
}
@media (min-width: 479px) {
  #s{
    position: absolute;
    margin-top: 0px;
    margin-left: -190px;
    width:110px;
  }
  #searchsubmit{
    position: absolute;
    margin-top: 0px;
    margin-left: -75px;
  }
}

@media (max-width: 799px) {
  .navbar-brand{
    margin-left: -30px;
  }
  .logo{
    visibility: hidden;
  }
  .logo_small{
    border-radius: 50%;
    margin-top:-15px;
  }
}





@media (min-width: 799px) {
  .logo{
    z-index:2;
    width:120px;
    height:120px;
    border-radius: 50%;
    margin-top: -105px;
  }
  .logo_small{
    visibility: hidden;
  }
}

@media (max-width: 799px) {
  .navbar-brand{
    margin-left: -30px;
  }
  .logo{
    visibility: hidden;
  }
  .logo_small{
    border-radius: 50%;
    margin-top:-15px;
  }
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  padding: none;
  border:none;
}

.navbar{
  z-index:2;
  border-top: 0px;
  border-bottom: none;
  top:0px;
  height:60px;
  background-color: #cc0f53;
}

.middle{
  z-index:1;
}
.insta , .Embed {
  text-align: center;
}

.navsearch{
  padding-top: 60px;
}

.screen-reader-text{
  display:none;
}

#searchform{
  color: #333;
}

.postmetadata{
  font-size: 14px;
}

.screen-reader-text{
  display:none;
}

h2{
  text-align: center;
  font-size:38px;
}

.insta{
  margin-top: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.instabadge img{
  width:120px;
  margin-right:35%;
  margin-left:35%;
}

.bio-gravatar img{
  border-radius: 50%;
}

.bioext{
  border: 1px solid #EEE;
  padding: 10px 10px 10px 20px;
  height: 180px;
}

.bioext h3 a{
  display: none;
}

.bio-description{
  margin-left: 90px;
  margin-top: -80px;
}

.right{
  float:right;
  margin-right: 20px;
}

.fixation{
  position: fixed;
  top : 60px;
}

a{
  z-index: 1000;
  color:#cc0f53;
}

a:hover{
  color:#cc0f53;
}

.img-responsive{
  max-width: 115%;
  margin-left: -7%;
}

.col-sm-6 .postmetadata{
  margin-left: -5%;
}

@media (min-width: 0px) {
  .bioext{
    height:350px;
  }
}

@media (min-width: 270px) {
  .bioext{
    height:440px;
  }
}


@media (min-width: 370px) {
  .bioext{
    height:280px;
  }
}

@media (min-width: 400px) {
  .bioext{
    height:230px;
  }
}
@media (min-width: 700px) {
  .bioext{
    height:140px;
  }
}
